#heading
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
    background-color: blue;
    margin: 30px;
    padding: 30px;
    border: 10px solid beige;
}
.recipes
{  
    font-weight: bolder;
    color: red;
    font-size: larger;
}
